language: python

python:
    - "3.6"

branches:
    only:
      - master
      - development
      - /^.*release.*$/

install:
    - pip install -r requirements.txt 
    - python -c "import nltk; nltk.download('punkt')"
    - python manage.py makemigrations
    - python manage.py migrate

script:
    - coverage erase
    - coverage run --source='.' manage.py test
    - coverage report
    - flake8

after_success:
    - coveralls


